
.App{
  height: 100vh;
  display: flex;
  background-color: rgba(5, 5, 56, 0.911);
  font-size: 16px;
  font-weight: bold;
}

.draggable-questions-list{
  width: 45%;
  height: 80%;
  margin: 20px;
  background-color: white;
  border-radius: 2px;
}

.dropable-questions-list{
  width: 45%;
  height: 80%;
  margin: 20px;
  background-color: white;
  border-radius: 2px;
}

.draggablelist{
  padding: 5px;
  margin: 5px;
  border: 1px solid lightblue;
  border-radius: 2px;
}
